*{
  margin:0;
  padding:0;
}
.App{
  margin-top:30px;
  text-align:center;
}
.NavTop ul{
  display:flex;
  justify-content: space-around;
  list-style: none;
}

.NavTop ul a{
  display:block;
  width:100%;
  padding:10px;
  text-decoration: none;
  color:#333;
}
.NavTop_con{
  margin-top:10px;
}
.active{
  background-color: skyblue;
}
.users_con{
  width:100%;
  height:300px;
  margin-top:30px;
  display:flex;
  justify-content: space-between;
  /* border:5px solid #61dafb; */
  
}
.users_con .users_leftNav{
  width:20%;
  
}
.users_con .users_leftcon{
  width:77%;
  background-color:#ddd;
}
.users_leftNav ul{
  list-style: none;
}
.users_leftNav ul li{
  margin:10px auto;
  background-color: #ddd;
}
.users_leftNav ul a{
  height:44px;
  line-height: 44px;
  display:block;
  text-decoration: none;
  color:#333;
}

